.a
{
    background:linear-gradient(0deg, rgba(50, 44, 43, 0.7), rgba(50, 44, 43, 0.7)), url(anthroimg/anthropology.jpeg);
    background-size: 2000px;
} 

.b
{
    background:linear-gradient(0deg, rgba(50, 44, 43, 0.7), rgba(50, 44, 43, 0.7)), url(artsimg/finearts.jpg);
    background-size: 2000px;
} 

.c
{
    background:linear-gradient(0deg, rgba(50, 44, 43, 0.7), rgba(50, 44, 43, 0.7)), url(naturalhistoimg/naturalhistory.jpg);
    background-size: 2000px;
} 

.d
{
    background:linear-gradient(0deg, rgba(50, 44, 43, 0.7), rgba(50, 44, 43, 0.7)), url(anthroimg/outside_Anthro.jpg);
    background-size: 2000px;
} 

h1
{
    background-color: #803D3B;
    color: white;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    margin: -10px;
}
#tomain
{
    background-color: #803D3B;
    float: right;
    margin: 20px auto;
    padding: 10px;
    padding-right: 50px ;
    padding-left: 50px;
    text-decoration: none;
}
.slider{
    text-align: center;
    margin-top: 50px    ;
}
 
.img-box img{
	height: 700px;
}

.btn
{
	border:none;
	outline:none;
    border-radius: 10px;
	background-color: transparent;
	font-size: 20px;
	color:white;
	cursor: pointer;
	margin:10px;	
    padding: 20px;		 
}

.btn:hover{
	background: #803D3B;
}


body
{
  background:linear-gradient(0deg, rgba(50, 44, 43, 0.7), rgba(50, 44, 43, 0.7)), url(Mainimg/NM.jpg);
  background-size: 3000px;
}

.header 
{
  background-color: #803D3B;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#MainHeader{
  margin: -10px;
  margin-top: -30px;
  margin-bottom: 30px;
}
 
.header h2 
{
  padding-left: 10px;
  color: white;
}
  
.header span 
{
  margin-right: 10px;
  font-weight: bold;
}
  
.search-container 
{
  display: flex; 
  align-items:right; 
}
  
.search-container input[type="text"]
{
  width: 100%; 
  padding: 10px; 
  border: 1px solid #ccc; 
  font-size: 16px; 
}
  

.header button 
{
  background-color: rgb(240, 234, 234); 
  margin-right: 10px;
  padding: 10px;
  color: black;  
  border: none; 
  cursor: pointer; 
}

h3
{
  padding: 10px;
  color: white; 
}

#Museums
{
  margin: 30px;
  text-align: center;
  margin-top: 60px;
}

.img-con 
{
  display: inline-block;
  margin: 0 10px 10px 0;
}
  
.img-con img 
{
  width: 250px;
  height: 300px;
  transition: transform 0.3s ease, filter 0.3s ease;
}

.img-con:hover img {
  transform: scale(1.1);
}

#AboutUs
{
  text-align: center;  
  background-color: #803D3B;
  margin: -10px;
  padding-bottom: 5%;
  padding-top: 0%;
}

/*ABOUT US*/

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    display: inline;
}

h2 {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 40px;
    color: #ffff;
}

.about-us {
    display: inline-block;
    background-color: #914f4f;
    margin-left: 60px;
    margin-right: 10px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 250px;
    text-align: center;
}

.about-us img {
    height: 70px;
    border-radius: 50%;
    margin-bottom: 15px;
}

.about-us h3 {
    text-align: center;
    font-size: 1.2em;
    margin: 0;
    color: #ffffff;
}

.about-us p {
    font-size: 1em;
    margin: 5px 0;
    color: #ffffff;
}


